<h1> Here are your movies! </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<form class="form-inline md-form mr-auto mb-4">
  <input type="text" [(ngModel)]="movieName" class="form-control" 
      name="movieName" required="required">
  <button  rounded="true"  (click)="searchmovie(movieName)" type="submit">Search</button>
</form>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Movie Name</th>
        
        
      </tr>
    </thead>
    <tbody>
              <tr *ngFor="let movie of movies">
                <td>{{movie.movieName}}</td>
               
                
                <img id="myimage" [src]='movie.moviePosterUrl' />
                <td><button (click)="showTheatres(movie.movieName)" class="btn btn-success">Show Theatres</button></td>
        

              </tr>
      <!-- } -->
    </tbody>

  </table>

</div>