<h1> Trending Movies </h1>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<form class="form-inline md-form mr-auto mb-4 movieSearch">
  <input type="text" [(ngModel)]="movieName" class="form-control searchInput"
      name="movieName" required="required">
  <button  rounded="true"  (click)="searchmovie(movieName)"  class="btn-success searchBtn" type="submit">Search</button>
</form>
<div class="container">
  <table class="table">
    <tbody>
              <tr *ngFor="let movie of movies">
                <td>{{movie.movieName}}</td>

               <td>
                 <img id="myimage" class="movieImg" [src]='movie.moviePosterUrl' />
               </td>

                <td><button (click)="showTheatres(movie.movieName)" class="btn btn-success">Show Theatres</button></td>


              </tr>
      <!-- } -->
    </tbody>

  </table>

</div>
