.ng-invalid:not(form) {
    border-left: 5px solid red;
}

.container2 {
  margin-top: 3%;
}

.movie-details {
  display: inline;
}

.movie-image {
  display: inline-block
}

.movie-name {
  display: inline-block;
  margin-left: 36%;
}

.table td {
  border-top: none !important;
}
